.country-list-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    justify-content: center;
    gap: 10px;
}

.countryCard{
  border: 1px solid grey;
}

.countryCard img{
    width: 100%;
    height: 200px;
}